<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="/wwwroot/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/wwwroot/html/style/style.css" />
</head>

<body>
    <div class="mask-view"></div>

    <div class="container" id="container">
        <div class="gold-packet lottery-gift">
            <img class="gold-packet-issuer" src="" />

            <div class="gold-packet-main">
                <div class="gold-packet-opened-content gold-packet-content">
                    <div class="gold-packet-title">
                        <span class="gold-packet-issuer-name"></span>的黄金红包
                    </div>
                    <div class="gold-packet-subtitle">
                        <span class="gold-packet-word"></span>
                    </div>

                    <div class="gold-packet-amount">
                        <span class="gold-packet-amount-number"></span>
                        <span class="gold-packet-amount-unit">克</span>
                        <div class="gold-packet-amount-measure">
                            价值<span class="gold-packet-amount-measure-number"></span>元
                        </div>
                    </div>
                </div>

                <div class="gold-packet-not-opened-content gold-packet-content">
                    <div class="gold-packet-title">
                        <span class="gold-packet-issuer-name"></span>
                    </div>
                    <div class="gold-packet-subtitle">发了一个黄金红包</div>
                    <div class="gold-packet-button"></div>
                </div>
            </div>

            <div class="gold-packet-detail">
            </div>
        </div>

        <div class="lottery-gift" id="lottery-gift">
            <img class="lottery-gift-type" src="" />
            <img class="lottery-gift-image" src="" />
            <div class="lottery-gift-name"></div>
            <div class="lottery-gift-desc"></div>
        </div>

        <div class="lucky-stuff-group-container">
            <div class="lucky-stuff-group-js-placeholder">
                <div class="lucky-stuff-group">
                </div>
            </div>
        </div>
    </div>

    <div class="lucky-bag">
        <div class="lucky-bag-counter"></div>
        <div class="lucky-bag-increase">100</div>
    </div>
<!-- 2019新设计不展示彩带
    <div class="imgbg-container">
        <div class="icon-abs imgbg1"></div>
        <div class="icon-abs imgbg2"></div>
        <div class="icon-abs imgbg3"></div>
        <div class="icon-abs imgbg4"></div>
        <div class="icon-abs imgbg5"></div>
        <div class="icon-abs imgbg6"></div>
        <div class="icon-abs imgbg7"></div>
        <div class="icon-abs imgbg8"></div>
    </div>
-->
    <script src="/wwwroot/html/assets/avatar.js"></script> 
    <link rel="stylesheet" href="/wwwroot/html/node_modules/odometer/themes/odometer-theme-default.css" />
    <script src="/wwwroot/html/node_modules/odometer/odometer.min.js"></script>
    <script src="/wwwroot/html/animation.es6.js"></script>
    <script src="/wwwroot/home/index.js"></script>

</body>
</html>